
body{
    
    background-color: antiquewhite;
     overflow:hidden;
}
::-webkit-scrollbar { 
    display: none; 
}

.title{
    color: gold;
    font-size: 25;

}

.lists{
    color:aliceblue;
}

.companyname{
    size:50px;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}


.demo-card-wide.mdl-card {
  width: auto;
}
.demo-card-wide > .mdl-card__title {
  color: white;
  height: 176px;
  background: url('../assets/images/2.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

input[type=text] {
    margin: 10% 10% 10% 10% ;
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: antiquewhite;
    background-image: url('../assets/images/searchicon.png');
    background-position: 10px 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */

footer{
    text-align: center;
}

.motto{
    text-align: right;
    margin: 10px 10% 0px 0px; 
    font-size: 15px;
    font-family: monospace;
    opacity: 0.5;
    color: black;
}

.contents{
    margin: 5% 10% 10% 10%;
    text-indent: inherit;
}

#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}